.trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
	&:hover {
		color: #1890ff;
	}
}
.logo {
	height: 32px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px;
}
.ant-card{
	margin:20px;
	.ant-card-body {
		iframe {
			width: 100%;
			height: auto;
			border-width: 0px;
		}
	}
}
.ant-menu{
	height:100%;
}
.spin {
	text-align: center;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 30px 50px;
	margin: 20px 0;
}

